:root {
  /* Telegram themeParams fallback */
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #222222;
  --tg-theme-hint-color: #888888;
  --tg-theme-link-color: #229ed9;
  --tg-theme-button-color: #229ed9;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f7f7f7;
  --tg-theme-header-bg-color: #ffffff;
  --tg-theme-destructive-text-color: #ff6159;
}

body,
html {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
